body { padding: 50px 5px 5px 5px; }

.fit {
  height: 100vh;
}

.fitHorizontal {
    height: auto;
    width: 100%;
}

.fitVertical {
    height: 100%;
    width: auto;
}

.fitBoth {
    width: auto;
    height: auto;
    max-height: 100%;
}

