{% extends "layout.html" %}
{% block title %}Hello from Flask{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

     <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Library</h1>
            </div>
        </div>

        {% for doc_row in documents | batch(4, '&nbsp;') %}
            <div class="row">
                {% for document in doc_row %}
                    {% if document.name %}
                        <div class="col-lg-3 col-md-3 col-xs-3">
                            <a class="thumbnail" href="/read/{{ document.type }}/{{ document.id }}">
                            {% if document.cover_id %}
                                <img class="img-responsive" src="/file/{{ document.cover_id }}" alt="">
                            {% else %}
                                <img class="img-responsive" src="{{ url_for('static', filename='images/no_cover.jpg') }}" alt="">
                            {% endif %}
                                <p style="text-align: center">{{ document.name }}</p>
                            </a>
                            <p style="text-align: center">
                                <a href="/metadata/{{ document.type }}/{{ document.id }}"><span class="glyphicon glyphicon-edit"></span> Information</a>
                                <a href="/download/{{ document.type }}/{{ document.id }}"><span class="glyphicon glyphicon-download-alt"></span> Download</a>
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-lg-12">
                    <em>Nothing found in your library</em>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
