{% extends "layout.html" %}
{% block title %}Hello from Flask{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

     <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Library</h1>
            </div>
        </div>

        {% for comic_row in comics | batch(4, '&nbsp;') %}
            <div class="row">
                {% for comic in comic_row %}
                    {% if comic.name %}
                        <div class="col-lg-3 col-md-3 col-xs-3">
                            <a class="thumbnail" href="/read/comic/{{ comic.id }}">
                                <img class="img-responsive" src="/file/{{ comic.cover_id }}" alt="">
                                <p style="text-align: center">{{ comic.name }}</p>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-lg-12">
                    <em>Nothing found in your library</em>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
