{% extends "layout.html" %}
{% block title %}Reading Comic{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/1.6.212/pdf.combined.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pdf_reader.js') }}"></script>
{% endblock %}
{% block onload %}onload="readPdf({{ file_id }})"{% endblock %}
{% block content %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Reader</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" id="prev"><span class="glyphicon glyphicon-chevron-left"></span> Previous</a></li>
            <li><a href="#" id="next"><span class="glyphicon glyphicon-chevron-right icon-white"></span> Next</a></li>
            <li><a href="#" id="fitVertical"><span class="glyphicon glyphicon-resize-vertical"></span> Fit Vertical</a></li>
            <li><a href="#" id="fitHorizontal"><span class="glyphicon glyphicon-resize-horizontal"></span> Fit Horizontal</a></li>
            <li><a href="#" id="fitBoth"><span class="glyphicon glyphicon-move"></span> Fit Both</a></li>
           </ul>
        </div>
        <div>
          <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
        </div>
      </div>
    </nav>

    <div id="pdf-holder">
        <canvas id="pdf-canvas" style="border:1px solid black"></canvas>
    </div>

{% endblock %}
