{% extends "layout.html" %}
{% block title %}Reading Comic{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/reader.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/comic_reader.js') }}"></script>
{% endblock %}
{% block onload %}onload="readComic({{ comic.id }}, {{ comic.pages|length }})"{% endblock %}
{% block content %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Reader</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" id="prevPanel"><span class="glyphicon glyphicon-chevron-left"></span> Previous</a></li>
            <li><a href="#" id="nextPanel"><span class="glyphicon glyphicon-chevron-right icon-white"></span> Next</a></li>
            <li><a href="#" id="fitVertical"><span class="glyphicon glyphicon-resize-vertical"></span> Fit Vertical</a></li>
            <li><a href="#" id="fitHorizontal"><span class="glyphicon glyphicon-resize-horizontal"></span> Fit Horizontal</a></li>
            <li><a href="#" id="fitBoth"><span class="glyphicon glyphicon-move"></span> Fit Both</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="pageHolder" >
        <img id="page" src="/comic/{{ comic.id }}/page/1" />
    </div>

{% endblock %}
